.App {
  text-align: center;
  background-color: #F5F5F5;
  height: 100vh;
}

.header {
  display: flex;
  padding-top: 30px;
  width: 1150px;
  margin: 0 auto;
  justify-content: flex-start;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}

.checkbox {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}


.images {
  width: 350px;
  height: 280px;
  border:  1px solid #D3D3D3;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-bottom: 40px;
}

.image {
  width: 350px;
  height: 220px;
  background-size: cover;
}

.title {
  display: flex;
  width: 250px;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
}

.question-box {
  background-color: #696969;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 3px;
}

.triangle {
  font-size: 10px;
  color: #696969;
}

.pagination {
  background: #f2f6f8; /* Цвет фона */
  width: 60px; /* Ширина кнопки */
  height: 60px; /* Высота */
  }

.pages {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 100px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
