.App {
  text-align: center;
}

.footer {
  padding-top: 30px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}


.images {
  width: 350px;
  height: 280px;
  border:  1px solid #D3D3D3;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-bottom: 40px;
}

.image {
  width: 350px;
  height: 220px;
  background-size: cover;
}

.pages {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 100px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
